
<%- include('includes/header') %>
<%- include('includes/nav') %>

<div class="container-prod">
<table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            
            <% produto.forEach(produto => { %>
                <tr>
                  <td><%= produto.nome %></td>
                  <td><%= produto.categoria %></td>
                  <td><%= produto.quantidade %></td>
                  <td><%= produto.valor %></td>
                  <td> <a href="/produto/edit/<%= produto._id %>">Editar</a></td>
                    <!-- <form action="/produto/edit < %= produto._id%>" method="POST" style="display: inline;">
                      <input type="hidden" name="id" value="< %= produto._id %>">
                      <button type="submit" style="all: unset; color: blue; cursor: pointer; text-decoration: underline;">
                        Enviar ID
                      </button>
                    </form> -->
                   
                </tr>
                <% }); %>
            
        </tbody>
    </table>
</div>
<%- include('includes/footer') %>